<div class ="row">
  <!--Collect Ingredients -->
  <div class = "span4 offset4">
    <%= form_tag(add_ingredient_path, method: "get") do %>
        <%= label_tag(:q, "Add an ingredient...") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Add") %>
    <% end %>
    <!--Display Ingredients-->
    <ul>
      <% if !session[:ingredients].nil? %>
          <% session[:ingredients].each do |i| %>
              <li><%= i %></li>
          <% end %>
      <%end%>
    </ul>
  </div>
    <!-- Print out the results-->
    <div class="row">
      <div class = "span4 offset4">
         <%= render '/static_pages/display_results'%>
      </div>
      <!--Display a Login box-->
      <% if !user_signed_in? %>
      <div class ="span4" id="login">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox"> Remember me
              </label>
              <button type="submit" class="btn">Sign in</button>
              <%= link_to 'Sign Up Today!', new_user_registration_path, class: 'btn btn-large btn-primary'%>
            </div>
          </div>
        </form>
      </div>
      <% else%>
        <!-- Display the user's Favorite recipes-->
        <div class ="span4" id="favorites">

          <ul>
            <i>Your Favorites</i>
                <%= current_user.favorites.each do |f|%>
                    <li><%= "#{f.title} | #{f.link}" %></li>
                <%end%>
            <% end %>
          </ul>
        </div>
    </div>
</div>
<% link_to image_tag('rails.png', alt: 'Rails'), 'http://rubyonrails.org' %>
