<div class="row">
  <!--Collect Ingredients -->
  <div class="span4 offset4">
    <%= form_tag(update_lists_path, remote: "true", method: "post") do %>
        <%= text_field_tag(:add, nil, placeholder: "What do you have?") %>
        <%= submit_tag("Add") %>
    <% end %>
    <%=button_to "clear", :action => "clear_ingredients", :class => "btn btn-danger"%>
    <!--Display Ingredients-->
    <ul id="ingredient_pool">
      <%= render 'display_ingredients'%>
    </ul>
  </div>
  <!-- Print out the results-->
  <div class="row">
    <div class="span6 offset2">
      <!-- Display the Google results -->
      <div class="well" id="results">
        <%= render partial: "display_results" %>
      </div>
    </div>
    <% if user_signed_in? %>
        <!-- Display the user's Favorite recipes-->
        <div class="span4" id="favorites">
          <span>Your Favorite Recipes</span>
          <%= render @favorites if current_user.favorites.any? %>
    <% else %>
        <!--Display a Login box-->
        <%= render '/static_pages/login_box' %>
    <% end %>
    </div>
  </div>
</div>
<% link_to image_tag('rails.png', alt: 'Rails'), 'http://rubyonrails.org' %>
