<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @favorite.title %>
</p>

<p>
  <b>Link:</b>
  <%= @favorite.link %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
